<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1023081956705-5hmnjfrdkoqcsn2ncpvehn3mg2kin0u1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1023081956705-5hmnjfrdkoqcsn2ncpvehn3mg2kin0u1</string>
	<key>API_KEY</key>
	<string>AIzaSyCnLagvXQ5r-U30lDNgcs5lun9oIql-ELQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1023081956705</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.getgroovy</string>
	<key>PROJECT_ID</key>
	<string>getgroovy-a42ac</string>
	<key>STORAGE_BUCKET</key>
	<string>getgroovy-a42ac.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1023081956705:ios:05a826b709ea04df0b7120</string>
</dict>
</plist>